li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
}

.scroll-link {
	cursor: pointer;
}

.delivery-icon {
	height: 1.5em;
	padding-left: 10px;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	place-items: center;
	place-content: start;
	margin-right: 70px;
	margin-left: 70px;
	/*min-height: 100vh;*/
}

.nav-container {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-template-areas: '. Logo Nav-Links .';
	padding: 20px;
}

.logo {
	height: 54px;
	grid-area: Logo;
}

.food-image {
	height: 450px;
	border-radius: 16px;
	margin-top: 20px;
	margin-bottom: -120px;
	grid-area: Logo;
}

.nav-items-container {
	display: grid;
	grid-template-columns: repeat(6, auto);
	align-items: center;
	column-gap: 20px;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	padding-right: 20px;
	grid-area: Nav-Links;
}

.nav-items-container a {
	color: black;
	text-decoration: none;
}

.main-container {
	display: grid;
	grid-template-columns: 2fr 4fr 4fr 2fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas: '. Content Hero-Picture .';
	grid-area: 2 / 1 / 3 / 2;
	place-content: center;
	place-items: center;
	background-color: #495e57;
	padding-bottom: 20px;
}

.main-content {
	grid-area: Content;
}

.main-content h1 {
	font-family: 'Markazi Text';
	font-size: 64px;
	color: #f4ce14;
}

.main-content h2 {
	font-family: 'Markazi Text';
	font-size: 32px;
	margin-top: -60px;
	color: white;
}

.main-content p {
	font-family: 'Karla Medium';
	font-size: 18px;
	color: white;
	width: 50%;
	margin-bottom: 40px;
}

.main-content button {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	background-color: #f4ce14;
	width: 205px;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
}

.main-picture {
	margin-top: 10px;
	padding-bottom: 60px;
	border-radius: 16px;
	grid-area: Hero-Picture;
}

.highlights-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr;
	grid-template-areas:
		'highlights-title'
		'highlights-cards';
}

.highlights-title {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. highlights-title-title highlights-title-button-container .';
	grid-area: highlights-title;
}

.highlights-title-title,
.main-res-title-title {
	font-family: 'Markazi Text';
	font-size: 64px;
	grid-area: highlights-title-title;
}

.highlights-title-button-container {
	place-self: center;
	justify-self: right;
	grid-area: highlights-title-button-container;
}

.highlights-title-button {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	background-color: #f4ce14;
	width: 205px;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
}

.highlights-cards {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. group-cards .';
	grid-area: highlights-cards;
}

.group-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'first-card second-card third-card';
	gap: 0px 20px;
	grid-area: group-cards;
}

.first-card {
	grid-area: first-card;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	align-content: center;
	height: 500px;
	width: 332px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'card-image'
		'card-title-title'
		'card-description'
		'card-footer';
	background-color: #edefee;
}

.card-image {
	grid-area: card-image;
	border: 1px solid black;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	height: 185px;
	width: 330px;
}

.card-title-title {
	grid-area: card-title-title;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'card-title' 'card-price';
	align-items: center;
	justify-content: center;
	column-gap: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.card-title {
	font-family: 'Markazi Text';
	font-size: 22pt;
}

.card-price {
	font-family: 'Karla Medium';
	font-size: 18pt;
	text-align: center;
	justify-self: end;
	color: #ee9972;
}

.card-description {
	grid-area: card-description;
	font-family: 'Karla Regular';
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	color: #495e57;
	/*background-color: #f4ce14;*/
}

.card-footer {
	grid-area: card-footer;
	display: flex;
	font-family: 'Karla Medium';
	font-size: 16px;
	padding-left: 20px;
	padding-bottom: 20px;
	align-items: center;
}

.second-card {
	grid-area: second-card;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	align-content: center;
	height: 500px;
	width: 332px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'card-image'
		'card-title-title'
		'card-description'
		'card-footer';
	background-color: #edefee;
}

.third-card {
	grid-area: third-card;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	align-content: center;
	height: 500px;
	width: 332px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'card-image'
		'card-title-title'
		'card-description'
		'card-footer';
	background-color: #edefee;
}

.text-card {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	place-self: center;
	color: white;
}

.testimonials-container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	gap: 20px 20px;
	grid-template-areas:
		'. testimonials-title .'
		'. testimonials-title .'
		'ratings-container ratings-container ratings-container'
		'. . .';
	grid-area: Testimonials;
	margin-top: 135px;
	background-color: #d9d9d9;
}

.testimonials-title {
	grid-area: testimonials-title;
	place-self: center;
	font-family: 'Markazi Text';
	font-size: 36px;
	padding-top: 100px;
}
.ratings-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. ratings-1 ratings-2 ratings-3 ratings-4 .';
	grid-area: ratings-container;
}
.ratings-1 {
	grid-area: ratings-1;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-2 {
	grid-area: ratings-2;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-3 {
	grid-area: ratings-3;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-4 {
	grid-area: ratings-4;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}

.about-container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas: '. about-content about-pictures .';
	margin-top: 200px;
}

.about-content h1 {
	font-family: 'Markazi Text';
	font-size: 64px;
}

.about-content h2 {
	font-family: 'Markazi Text';
	font-size: 32px;
	margin-top: -60px;
	margin-bottom: 60px;
}

.about-content p {
	font-family: 'Karla';
	font-size: 20px;
	width: 80%;
}

.about-content {
	grid-area: about-content;
}

.about-pictures {
	grid-area: about-pictures;
}

.food-image-1 {
	height: 550px;
	border-radius: 16px;
	margin-top: 20px;
	margin-bottom: -250px;
	float: right;
	border: 1px solid black;
}

.food-image-2 {
	height: 550px;
	border-radius: 16px;
	margin-top: -125px;
	margin-bottom: -250px;
	float: left;
	border: 1px solid black;
}

.footer-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 50px;
	grid-template-areas: '. footer-picture footer-navigation footer-contact footer-socialmedialinks .';
	background-color: #d9d9d9;
	margin-top: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
	place-items: top;
}

.footer-picture {
	grid-area: footer-picture;
	height: 300px;
	border: 1px solid black;
	place-self: center;
}

.footer-navigation h2 {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	color: #495e57;
}

.footer-navigation {
	grid-area: footer-navigation;
	font-family: 'Karla';
	font-size: 20px;
}

.footer-contact {
	grid-area: footer-contact;
	font-family: 'Karla';
	font-size: 20px;
}

.footer-contact h2 {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	color: #495e57;
}

.footer-socialmedialinks {
	grid-area: footer-socialmedialinks;
	font-family: 'Karla';
	font-size: 20px;
	text-align: left;
}

.footer-socialmedialinks h2 {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	color: #495e57;
}

.footer-container ul {
	list-style-type: none;
	padding-left: 0;
}

.main-res-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px 0px;
	grid-template-areas:
		'main-res-title'
		'main-res-images'
		'main-res-options'
		'main-signin'
		'main-signin-button';
}
.main-res-title {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. main-res-title-title main-res-title-title .';
	grid-area: main-res-title;
}

.main-res-title-title {
	grid-area: main-res-title-title;
}
.main-res-images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. main-res-image-1 main-res-image-2 .';
	grid-area: main-res-images;
}

.main-res-image-1 {
	grid-area: main-res-image-1;
}

.main-res-image-2 {
	grid-area: main-res-image-2;
}

.main-res-options {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px 20px;
	grid-template-areas:
		'main-res-blank main-res-date main-res-time .'
		'. main-res-number-of-diners main-res-occasion .'
		'. main-res-options-seating main-res-button .';
	grid-area: main-res-options;
	background-color: gray;

	font-family: 'Karla Medium';
}

.main-res-blank {
	background-color: orange;
	grid-area: main-res-blank;
}

.main-res-date {
	grid-area: main-res-date;
	display: flex;
	background-color: #f4ce14;
}
.main-res-time {
	grid-area: main-res-time;
	background-color: #f4ce14;
}
.main-res-number-of-diners {
	grid-area: main-res-number-of-diners;
	background-color: #f4ce14;
}
.main-res-occasion {
	grid-area: main-res-occasion;
	background-color: #f4ce14;
}
.main-res-options-seating {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'. main-res-options-1'
		'. main-res-options-2';
	grid-area: main-res-options-seating;
	background-color: #f4ce14;
}

.main-res-options-1 {
	grid-area: main-res-options-1;
}

.main-res-options-2 {
	grid-area: main-res-options-2;
}

.main-res-button {
	grid-area: main-res-button;
	font-family: 'Karla ExtraBold';
	font-size: 16px;
	background-color: #f4ce14;
	width: 205px;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
}

.main-signin {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 20px;
	grid-template-areas:
		'main-signin-title main-signin-title main-signin-title'
		'main-signin-form main-signin-form main-signin-form';
	grid-area: main-signin;
}
.main-signin-title {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. main-signin-title-title . .';
	grid-area: main-signin-title;
}
.main-signin-title-title {
	grid-area: main-signin-title-title;
}
.main-signin-form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 20px;
	grid-template-areas:
		'. main-signin-fn main-signin-ln .'
		'. main-signin-pn main-signin-email .'
		'. . main-signin-password .';
	grid-area: main-signin-form;
}
.main-signin-fn {
	grid-area: main-signin-fn;
}
.main-signin-ln {
	grid-area: main-signin-ln;
}
.main-signin-pn {
	grid-area: main-signin-pn;
}
.main-signin-email {
	grid-area: main-signin-email;
}
.main-signin-password {
	grid-area: main-signin-password;
}
.main-signin-button {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '.';
	grid-area: main-signin-button;
}
