li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

body {
	/*min-height: 100vh;*/
}

legend {
	font-size: 2em;
	font-family: 'Karla';
	font-weight: 900;
	font-style: bold;
	padding-left: 10px;
	padding-right: 10px;
}

.scroll-link {
	cursor: pointer;
}

.delivery-icon {
	height: 1.5em;
	padding-left: 10px;
}

fieldset {
	border: 4px dashed #495e57;
	margin-top: 80px;
	padding: 20px;
}

fieldset p {
	font-size: 1.5em;
	font-family: 'Karla';
	font-weight: 700;
	font-style: bold;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

fieldset img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav-container {
    border: 1px solid red;
	margin: auto;
}

.container {
	display: flex;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto;
	gap: 0px 0px;
	grid-auto-flow: row;
	place-items: center;
	place-content: start;
	margin-right: 70px;
	margin-left: 70px;
	/*min-height: 100vh;*/
}

/*.nav-container {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-template-areas: '. Logo Nav-Links .';
	padding: 20px;
}*/

.nav-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
}

.logo {
	height: 54px;
	grid-area: Logo;
}

.food-image {
	height: 450px;
	border-radius: 16px;
	margin-top: 20px;
	margin-bottom: -120px;
	grid-area: Logo;
}

.nav-items-container a {
	color: black;
	text-decoration: none;
}

.nav-items-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
	font-family: 'Karla';
	font-weight: 900;
	font-style: bold;
	font-size: 20px;
	padding-right: 20px;
}

.main-container {
	display: grid;
	grid-template-columns: 2fr 4fr 4fr 2fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas: '. Content Hero-Picture .';
	grid-area: 2 / 1 / 3 / 2;
	place-content: center;
	place-items: center;
	background-color: #495e57;
	padding-bottom: 20px;
}

.main-content {
	grid-area: Content;
}

.main-content h1 {
	font-family: 'Markazi Text';
	font-size: 64px;
	color: #f4ce14;
}

.main-content h2 {
	font-family: 'Markazi Text';
	font-size: 32px;
	margin-top: -60px;
	color: white;
}

.main-content p {
	font-family: 'Karla';
	font-size: 18px;
	color: white;
	width: 50%;
	margin-bottom: 40px;
}

.main-content button {
	font-family: 'Karla';
	font-weight: 900;
	font-style: bold;
	font-size: 20px;
	background-color: #f4ce14;
	width: 205px;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
}

.main-picture {
	margin-top: 10px;
	padding-bottom: 60px;
	border-radius: 16px;
	grid-area: Hero-Picture;
}

.highlights-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr;
	grid-template-areas:
		'highlights-title'
		'highlights-cards';
}

.highlights-title {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. highlights-title-title highlights-title-button-container .';
	grid-area: highlights-title;
}

.highlights-title-title,
.main-res-title-title {
	font-family: 'Markazi Text';
	font-size: 64px;
	grid-area: highlights-title-title;
}

.highlights-title-button-container {
	place-self: center;
	justify-self: right;
	grid-area: highlights-title-button-container;
}

.highlights-title-button {
	font-family: 'Karla';
	font-weight: 900;
	font-style: bold;
	font-size: 20px;
	background-color: #f4ce14;
	width: 205px;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
}

.highlights-cards {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. group-cards .';
	grid-area: highlights-cards;
}

.group-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'first-card second-card third-card';
	gap: 0px 20px;
	grid-area: group-cards;
}

.first-card {
	grid-area: first-card;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	align-content: center;
	height: 500px;
	width: 332px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'card-image'
		'card-title-title'
		'card-description'
		'card-footer';
	background-color: #edefee;
}

.card-image {
	grid-area: card-image;
	border: 1px solid black;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	height: 185px;
	width: 330px;
}

.card-title-title {
	grid-area: card-title-title;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: 'card-title' 'card-price';
	align-items: center;
	justify-content: center;
	column-gap: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

.card-title {
	font-family: 'Markazi Text';
	font-size: 22pt;
}

.card-price {
	font-family: 'Karla';
	font-weight: 700;
	font-style: bold;
	font-size: 18pt;
	text-align: center;
	justify-self: end;
	color: #ee9972;
}

.card-description {
	grid-area: card-description;
	font-family: 'Karla';
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	color: #495e57;
	/*background-color: #f4ce14;*/
}

.card-footer {
	grid-area: card-footer;
	display: flex;
	font-family: 'Karla';
	font-size: 16px;
	padding-left: 20px;
	padding-bottom: 20px;
	align-items: center;
}

.second-card {
	grid-area: second-card;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	align-content: center;
	height: 500px;
	width: 332px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'card-image'
		'card-title-title'
		'card-description'
		'card-footer';
	background-color: #edefee;
}

.third-card {
	grid-area: third-card;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	align-content: center;
	height: 500px;
	width: 332px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr 2fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'card-image'
		'card-title-title'
		'card-description'
		'card-footer';
	background-color: #edefee;
}

.text-card {
	font-family: 'Karla';
	font-size: 20px;
	place-self: center;
	color: white;
}

.testimonials-container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	gap: 20px 20px;
	grid-template-areas:
		'. testimonials-title .'
		'. testimonials-title .'
		'ratings-container ratings-container ratings-container'
		'. . .';
	grid-area: Testimonials;
	margin-top: 135px;
	background-color: #d9d9d9;
}

.testimonials-title {
	grid-area: testimonials-title;
	place-self: center;
	font-family: 'Markazi Text';
	font-size: 36px;
	padding-top: 100px;
}
.ratings-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. ratings-1 ratings-2 ratings-3 ratings-4 .';
	grid-area: ratings-container;
}
.ratings-1 {
	grid-area: ratings-1;
	background-color: gray;
	font-family: 'Karla';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-2 {
	grid-area: ratings-2;
	background-color: gray;
	font-family: 'Karla';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-3 {
	grid-area: ratings-3;
	background-color: gray;
	font-family: 'Karla';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-4 {
	grid-area: ratings-4;
	background-color: gray;
	font-family: 'Karla';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}

.about-container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas: '. about-content about-pictures .';
	margin-top: 200px;
}

.about-content h1 {
	font-family: 'Markazi Text';
	font-size: 64px;
}

.about-content h2 {
	font-family: 'Markazi Text';
	font-size: 32px;
	margin-top: -60px;
	margin-bottom: 60px;
}

.about-content p {
	font-family: 'Karla';
	font-size: 20px;
	width: 80%;
}

.about-content {
	grid-area: about-content;
}

.about-pictures {
	grid-area: about-pictures;
}

.food-image-1 {
	height: 550px;
	border-radius: 16px;
	margin-top: 20px;
	margin-bottom: -250px;
	float: right;
	border: 1px solid black;
}

.food-image-2 {
	height: 550px;
	border-radius: 16px;
	margin-top: -125px;
	margin-bottom: -250px;
	float: left;
	border: 1px solid black;
}

.footer-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 50px;
	grid-template-areas: '. footer-picture footer-navigation footer-contact footer-socialmedialinks .';
	background-color: #d9d9d9;
	margin-top: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
	place-items: top;
}

.footer-picture {
	grid-area: footer-picture;
	height: 300px;
	border: 1px solid black;
	place-self: center;
}

.footer-navigation h2 {
	font-family: 'Karla';
	font-size: 20px;
	color: #495e57;
}

.footer-navigation {
	grid-area: footer-navigation;
	font-family: 'Karla';
	font-size: 20px;
}

.footer-contact {
	grid-area: footer-contact;
	font-family: 'Karla';
	font-size: 20px;
}

.footer-contact h2 {
	font-family: 'Karla';
	font-size: 20px;
	color: #495e57;
}

.footer-socialmedialinks {
	grid-area: footer-socialmedialinks;
	font-family: 'Karla';
	font-size: 20px;
	text-align: left;
}

.footer-socialmedialinks h2 {
	font-family: 'Karla';
	font-size: 20px;
	color: #495e57;
}

.footer-container ul {
	list-style-type: none;
	padding-left: 0;
}

.main-res-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px 0px;
	grid-template-areas:
		'main-res-title'
		'main-res-images'
		'main-res-options'
		'main-signin'
		'main-signin-button';
}
.main-res-title {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. main-res-title-title main-res-title-title .';
	grid-area: main-res-title;
}

.main-res-title-title {
	grid-area: main-res-title-title;
}
.main-res-images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. main-res-image-1 main-res-image-2 .';
	grid-area: main-res-images;
}

.main-res-image-1 {
	grid-area: main-res-image-1;
}

.main-res-image-2 {
	grid-area: main-res-image-2;
}

.main-res-options {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px 20px;
	grid-template-areas:
		'. main-res-date main-res-time .'
		'. main-res-number-of-diners main-res-occasion .'
		'. main-res-options-seating main-res-button .';
	grid-area: main-res-options;
	font-family: 'Karla';
}

.main-res-options select,
.main-res-options input {
	font-family: 'Karla';
	font-size: 1.25em;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
}

.main-res-options label {
	font-size: 1.25em;
	font-weight: 700;
	font-weight: bold;
}

.main-res-date {
	grid-area: main-res-date;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-res-time {
	grid-area: main-res-time;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-res-number-of-diners {
	grid-area: main-res-number-of-diners;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-res-occasion {
	grid-area: main-res-occasion;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-res-options-seating {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'main-res-options-title main-res-options-1'
		'main-res-options-title main-res-options-2';
	grid-area: main-res-options-seating;
	justify-content: end;
	align-items: center;
	column-gap: 20px;
}

.main-res-options-1 {
	grid-area: main-res-options-1;
	justify-self: end;
}

.main-res-options-title {
	grid-area: main-res-options-title;
	font-size: 1.25em;
	font-weight: 700;
	font-style: bold;
}

.main-res-options-2 {
	grid-area: main-res-options-2;
	justify-self: end;
}

.main-res-button {
	grid-area: main-res-button;
	font-family: 'Karla';
	font-weight: 700;
	font-style: bold;
	justify-self: center;
	font-size: 1.25em;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f4ce14;
	width: auto;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
}

.main-signin {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 20px;
	grid-template-areas:
		'main-signin-title main-signin-title main-signin-title'
		'main-signin-form main-signin-form main-signin-form';
	grid-area: main-signin;
}
.main-signin-title {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. main-signin-title-title . .';
	grid-area: main-signin-title;
}
.main-signin-title-title {
	grid-area: main-signin-title-title;
}
.main-signin-form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 20px;
	grid-template-areas:
		'. main-signin-fn main-signin-ln .'
		'. main-signin-pn main-signin-email .'
		'. . main-signin-password .';
	grid-area: main-signin-form;
}
.main-signin-fn {
	grid-area: main-signin-fn;
}
.main-signin-ln {
	grid-area: main-signin-ln;
}
.main-signin-pn {
	grid-area: main-signin-pn;
}
.main-signin-email {
	grid-area: main-signin-email;
}
.main-signin-password {
	grid-area: main-signin-password;
}
.main-signin-button {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '.';
	grid-area: main-signin-button;
}

/*.confirmed-booking-container {

}*/

/* Adaptation pour tablettes */
@media (max-width: 1024px) {
	.container {
		margin-left: 20px;
		margin-right: 20px;
	}

	.nav-container {
	}

	.main-content p {
		width: 80%;
	}

	.highlights-cards {
		grid-template-columns: 1fr;
	}

	.group-cards {
		grid-template-columns: 1fr;
	}

	.testimonials-container {
		grid-template-columns: 1fr;
	}

	.ratings-container {
		grid-template-columns: 1fr;
	}

	.about-container {
		grid-template-columns: 1fr;
	}

	.footer-container {
		grid-template-columns: 1fr;
	}
}

/* Adaptation pour les téléphones */
@media (max-width: 768px) {
	.nav-items-container {
		/*display: none;*/ /* Masquer la navigation si besoin */
	}

	.main-container {
		grid-template-columns: 1fr;
		grid-template-areas: 'Content' 'Hero-Picture';
	}

	.highlights-title {
		grid-template-columns: 1fr;
	}

	.main-content p,
	.about-content p {
		width: 100%;
	}

	.group-cards {
		grid-template-columns: 1fr;
	}

	.ratings-container {
		grid-template-columns: 1fr;
	}

	.footer-container {
		grid-template-columns: 1fr;
		text-align: center;
	}
}

/* Adaptation pour les très petits écrans */
@media (max-width: 480px) {
	.main-content h1 {
		font-size: 36px;
	}

	.main-content h2 {
		font-size: 24px;
	}

	.main-content button,
	.highlights-title-button {
		width: 100%;
		font-size: 18px;
	}

	.highlights-title-title,
	.testimonials-title {
		font-size: 24px;
	}

	.card-title {
		font-size: 18px;
	}

	.card-description {
		font-size: 14px;
	}

	.footer-container {
		grid-template-columns: 1fr;
	}
}
