li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr 5fr 4fr 4fr 3fr;
	gap: 20px 0px;
	grid-auto-flow: row;
	place-items: center;
	place-content: center;
	margin-right: 70px;
	margin-left: 70px;
}

.nav-container {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: 'Blank Logo Nav-Links second-nav-blank';
	padding: 20px;
}

.nav-blank {
	grid-area: Blank;
}

.logo {
	height: 54px;
	grid-area: Logo;
}

.food-image {
	height: 450px;
	border-radius: 16px;
	margin-top: 20px;
	margin-bottom: -120px;
	grid-area: Logo;
}

.nav-items-container {
	display: grid;
	grid-template-columns: repeat(6, auto);
	align-items: center;
	column-gap: 20px;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	padding-right: 20px;
	grid-area: Nav-Links;
}

.nav-items-container a {
	color: black;
	text-decoration: none;
}

.second-nav-blank {
	grid-area: second-nav-blank;
}

.main-container {
	display: grid;
	grid-template-columns: 2fr 4fr 4fr 2fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas: 'first-main-blank Content Hero-Picture second-main-blank';
	grid-area: 2 / 1 / 3 / 2;
	place-content: center;
	place-items: center;
	background-color: #495e57;
	padding-bottom: 20px;
}

.first-main-blank {
	grid-area: first-main-blank;
}

.second-main-blank {
	grid-area: second-main-blank;
}

.main-content {
	grid-area: Content;
}

.main-content h1 {
	font-family: 'Markazi Text';
	font-size: 64px;
	color: #f4ce14;
	/*background-color: aliceblue;*/
}

.main-content h2 {
	font-family: 'Markazi Text';
	font-size: 32px;
	/*background-color: aliceblue;*/
	margin-top: -60px;
	color: white;
}

.main-content p {
	font-family: 'Karla Medium';
	font-size: 18px;
	color: white;
	width: 50%;
	margin-bottom: 40px;
	/*background-color: aliceblue;*/
}

.main-content button {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	background-color: #f4ce14;
	width: 205px;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
	/*background-color: aliceblue;*/
}

.main-picture {
	margin-top: 10px;
	padding-bottom: 60px;
	border-radius: 16px;
	grid-area: Hero-Picture;
}

.highlights-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr;
	grid-template-areas:
		'highlights-title'
		'highlights-cards';
	grid-area: highlights-container;
}

.highlights-title {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: 'first-highlights-blank highlights-title-title highlights-title-button-container second-highlights-blank';
	grid-area: highlights-title;
}

.first-highlights-blank {
	grid-area: first-highlights-blank;
}

.second-highlights-blank {
	grid-area: second-highlights-blank;
}

.highlights-title-title {
	font-family: 'Markazi Text';
	font-size: 64px;
	grid-area: highlights-title-title;
}

.highlights-title-button-container {
	place-self: center;
	justify-self: right;
	grid-area: highlights-title-button-container;
}

.highlights-title-button {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	background-color: #f4ce14;
	width: 205px;
	height: 60px;
	border-radius: 16px;
	border: 1px solid black;
}

.highlights-cards {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: 'first-blank-card group-cards second-blank-card';
	grid-area: highlights-cards;
}

.first-blank-card {
	grid-area: first-blank-card;
}

.second-blank-card {
	grid-area: second-blank-card;
}

.group-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'first-card second-card third-card';
	gap: 0px 20px;
	grid-area: group-cards;
}

.first-card {
	grid-area: first-card;
	border-top: 2px solid black;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	background-color: gray;
	place-content: center;
}

.second-card {
	grid-area: second-card;
	border-top: 2px solid black;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	background-color: gray;
	place-content: center;
}

.third-card {
	grid-area: third-card;
	border-top: 2px solid black;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	background-color: gray;
	place-content: center;
}

.text-card {
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	place-self: center;
	color: white;
}

.testimonials-container {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	gap: 20px 20px;
	grid-template-areas:
		'. testimonials-title .'
		'. ratings-container .'
		'. . .';
	grid-area: Testimonials;
	margin-top: 135px;
}

.testimonials-title {
	grid-area: testimonials-title;
	place-self: center;
	font-family: 'Markazi Text';
	font-size: 36px;
}
.ratings-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: '. ratings-1 ratings-2 ratings-3 ratings-4 .';
	grid-area: ratings-container;
}
.ratings-1 {
	grid-area: ratings-1;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-2 {
	grid-area: ratings-2;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}
.ratings-3 {
	grid-area: ratings-3;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
}
.ratings-4 {
	grid-area: ratings-4;
	background-color: gray;
	font-family: 'Karla ExtraBold';
	font-size: 20px;
	align-content: center;
	text-align: center;
	color: white;
	height: 175px;
}

.About {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas: '. About-Text About-Pictures .';
	grid-area: 5 / 1 / 6 / 2;
}

.About-Text {
	grid-area: About-Text;
}

.About-Pictures {
	grid-area: About-Pictures;
}

.Footer {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-auto-flow: row;
	grid-template-areas: '. Picture Footer-Text .';
	grid-area: 6 / 1 / 7 / 2;
}

.Picture {
	grid-area: Picture;
}

.Footer-Text {
	grid-area: Footer-Text;
}
