* {
	margin: 0;
	padding: 0;
	font-family: Inconsolata;
}

body {
	background-color: #edefee;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 5%;
	margin-left: 5%;
}

strong {
	color: #e4aa9c;
}

h1 {
	font-size: 3rem;
	color: white;
	margin-bottom: 1.5rem;
	padding: 0rem 0rem 1rem 1rem;
}

h1 + p {
	font-size: 1.5rem;
	color: white;
	padding: 1rem;
	text-overflow: ellipsis;
}

h2 {
	font-size: 2rem;
	color: #da8272;
	margin-bottom: 1rem;
}

header > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20vw;
}

nav ul {
	list-style: none;
	text-align: center;
	margin: 1.5rem 1.5rem;
}

nav li {
	display: inline-block;
	background-color: #d2624c;
	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;
	font-size: 1.5rem;
}

nav a {
	color: #edefee;
	text-decoration: none;
}

nav a:hover {
	color: black;
}

nav li:active {
	color: #d2624c;
	background-color: white;
	border: #d2624c 2px solid;
}

section {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	gap: 2rem;
}

article {
	flex: 1;
}

article > img {
	width: 10vw;
	float: right;
	margin-left: 1rem;
	margin-top: -3rem;
	margin-bottom: 1rem;
	border-radius: 10px;
	border: #d2624c solid 2px;
}

footer {
	display: flex;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 5%;
	margin-left: 5%;
}

footer img {
	width: 30vw;
}

footer div {
	flex: 1;
}

footer div p {
	font-size: 1rem;
	text-align: right;
	margin-right: 5%;
	border-top: #d2624c solid 2px;
	padding-top: 1rem;
}

fieldset {
	border: none;
	margin-right: 5rem;
}

.main_section {
	animation-duration: 3s;
	animation-name: fadein;
	background-image: url('img/hairdresses-worries-about-hair-salon-costs.jpeg');
	background-position-y: 25%;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	background-color: #da8272;
	height: 30vh;
	border-radius: 25px;
}

.second_section {
	animation-duration: 4s;
	animation-name: fadein;
}

.footer_section {
	animation-duration: 5s;
	animation-name: fadein;
}

.nav_elements {
	animation-duration: 1s;
	animation-name: fadein;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
